body {
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

.topbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #222;
    align-items: center;
}

#search {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: none;
}

#game-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.game {
    width: 150px;
    text-align: center;
}

.game img {
    width: 100%;
    border-radius: 10px;
}
